.title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    width: 500px;
    margin-top: 30px;
    color: #c6c6c6;
}

.item {
    display: flex;
    flex-direction: column;
}
.text {
    width: 500px;
    margin-bottom: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 500px;
    margin-top: 25px;
}