.item {
    color: #c6c6c6;
    margin-bottom: 20px;
    z-index: 999;
}

.item img {
    width: 75px;
    border-radius: 200px;
    background-color: grey;
    padding: 3px;
    margin: 10px;
}

.like {
    color: crimson;
    font-weight: bold;
    padding: 10px;
}

.delete {
    font-size: 12px;
    font-style: italic;
    color: #c6c6c6;
    cursor: pointer;
    width: 20%;
    text-align: right;
}