.item {
    color: white;
}

.item img {
    width: 7%;
    border-radius: 200px;
    background-color: grey;
    padding: 3px;
}

.like{
    color: crimson;
    font-weight: bold;
    padding: 10px;
}