.item {
    color: white;
    margin-bottom: 20px;
}

.item img {
    width: 7%;
    border-radius: 200px;
    background-color: grey;
    padding: 3px;
}

.like {
    color: crimson;
    font-weight: bold;
    padding: 10px;
}

.delete {
    font-size: 12px;
    font-style: italic;
    color: rgba(0,0,0,0.54);
    cursor: pointer;
    width: 20%;
    text-align: right;
}