.site-layout .site-layout-background {
    background: linear-gradient(to right, #001529, #004c98, #001529);
}
.content {
    color: #c6c6c6;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: linear-gradient(to right, #001529, #004c98, #001529);
}